@page
@model SistemaIntegralCYA.App.Frontend.Pages.router.AdminSistema
@{
    ViewData["Title"] = "AdminSistema";
}

<body>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="../router/BDClientes">Base de Datos Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../router/BDTecnicos">Base de Datos Técnicos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="../router/BDServicios">Base de Datos Servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../router/IngresoAdmin">Salir</a>
        </li>
    </ul>
</body>