@page
@model SistemaIntegralCYA.App.Pages.AplicativoModel
@{
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mantenimiento y Reparaciones de Computadores</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/estilos.css" />

</head>

<body>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="../router/Servicios">Solicitar Servicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../router/Historial">Consultar Historial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Pagos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Salir</a>
        </li>
    </ul>
</body>