@page
@model SistemaIntegralCYA.App.Pages.HistorialModel
@{
}
<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Identificación</th>
                <th scope="col">Horario Servicio</th>
                <th scope="col">Fecha Servicio</th>
                <th scope="col">Servicio</th>
                <th scope="col">Descripción Servicio</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10384</td>
                <td>10 am</td>
                <td>25/05/2022</td>
                <td>Mantenimiento</td>
                <td>Se realiza mantenimiento general al dispositivo</td> 
                <td>$100.000</td>                               
            </tr>
            <tr>
                <td>52841</td>
                <td>10 am</td>
                <td>25/05/2022</td>
                <td>Instalación</td>
                <td>Se realiza Instalación de tarjeta gráfica</td> 
                <td>$1.800.000</td>    
            </tr>
            <tr>
            </tr>
        </tbody>
        <a class="submitBtn nav-link" href="../router/Aplicativo">Regresar al menú de opciones<a>
    </table>
    <input type="submit" class="" value="Actualizar">
</body>