@page
@model SistemaIntegralCYA.App.Pages.HistorialModel
@{
}

<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Horario Servicio</th>
                <th scope="col">Fecha Servicio</th>
                <th scope="col">Nombre Técnico</th>
                <th scope="col">Servicio</th>
                <th scope="col">Descripción Servicio</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var historial in Model.historial)
            {
                <tr>
                    <td>10 am</td>
                    <td>@historial.FechaServicio</td>
                    <td>Martin Elias Jimenez Posada</td>
                    <td>Mantenimiento</td>
                    <td>@historial.DescripcionServicio</td>
                    <td>$100.000</td>
                    <td>
                        <a class="btn btn-primary table-btn" asp-page="../router/UpdateHistorial" asp-route-historialId="@historial.Id">
                            <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                            Modificar
                        </a>
                    </td>
                </tr>
            }

        </tbody>
        <a class="submitBtn nav-link" href="../router/AdminSistema">Menu Principal<a>
    </table>
</body>