@page
@model SistemaIntegralCYA.App.Pages.IngresoUsuarioModel
@{
}

<!--
<body class="signForm">    
    <div class="signinFrm">
        <form method="get"> 
            <input type="hidden" asp-for="clientes.CorreoElectronico"/>    
            <div class="formForm1" id="formIngreso">    

                <h3 class="titleForm">Ingresar</h3>

                <div class="inputContainer">                    
                    <input id="correoElectronico" type="email" class="inputForm" name="filtroBusqueda" asp-for="FiltroBusqueda" placeholder="a">
                    <label class="labelForm">Identificacion</label>                    
                </div>
                
                <div class="inputContainer">                    
                    <input id="Contrasena" type="text" class="inputForm"  placeholder="a">
                    <label class="labelForm">Contrasena</label>                    
                </div>  
                

            <div>
                <input type="submit" class="submitBtn" value="Ingresar">
                <div id="mensaje"></div>  
            </div>    
        </form> 
    </div>
</body>
-->

<body class="signForm">    
    <div class="signinFrm" >
        <form class="formForm1" id="formIngreso">

            <h1 class="titleForm">Ingresar</h1>

            <div class="inputContainer">
                <input id="correoElectronico" type="email" class="inputForm" placeholder="a">
                <label class="labelForm">Correo Electrónico</label>
            </div>

            <div class="inputContainer">
                <input id="Contrasena" type="password" class="inputForm" placeholder="a">
                <label class="labelForm">Contraseña</label>       
            </div>
        
            <input type="submit" class="submitBtn" value="Ingresar">        
            <div id="mensaje"></div>       
        </form>        
    </div> 
</body>
