@page
@model SistemaIntegralCYA.App.Pages.NuestraEmpresaModel
@{
}

<body>
    <main>
        <section class="testimony">
            <div class="testimony__container container">
                <img src="../img/FlechaIzquierda.svg" class="testimony__arrow" id="before">
                <img src="../img/FlechaDerecha.svg" class="testimony__arrow" id="next" >

                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts">
                        <h2 class="subtitle"><span 
                        class="testimony__course">QUIENES SOMOS</span></h2>
                        <p class="testimony__review">Nuestra compañía se encarga de ofrecer soluciones a tus requerimientos, mediante
                        nuestra pagina web encontraras una diversidad de informacion que sera tu guia para
                        solicitar el servicio que se ajuste a tus nesecidades, contamos con un personal
                        profesional responsable he idonio para cada area. Tu elijes el horario, el profesional, y
                        el dia que prefieras, registrate ahora y agenda tu cita</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../img/Logo.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="2">
                    <div class="testimony__texts">
                        <h2 class="subtitle"><span 
                        class="testimony__course">MISION</span></h2>
                        <p class="testimony__review">Tenemos como objectivo brindar el mejor servicio a nueros clientes ,garantizando su satisfaccio con nuestros resultados.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../img/Logo.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="3">
                    <div class="testimony__texts">
                        <h2 class="subtitle"><span 
                        class="testimony__course">VISION</span></h2>
                        <p class="testimony__review">Para el año 2027 nuetra compañía C&A se proyecta ser una de las mejores empresas, especialmente constituida en el arreglo y mantenimiento en equipos electronicos, con un especial enfoque en tecnologuias avanzadas en software y programacion en general.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../img/Logo.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="4">
                    <div class="testimony__texts">
                        <h2 class="subtitle"><span 
                        class="testimony__course">VALORES</span></h2>
                        <p class="testimony__review">Satisfacer las peticiones de nuestros clientes, ser puntuales, comprometidos, eficientes,proporcionar seguridad,garantizar una atencion de calidad y un buen servicio.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../img/Logo.jpg" class="testimony__img">
                    </figure>
                </section>

            </div>
        </section>
    </main>

</body>
