@page
@model SistemaIntegralCYA.App.Pages.NuestraEmpresaModel
@{
}

<body>
    <main>
        <section class="testimony">
            <div class="testimony__container container">
                <img src="../img/FlechaIzquierda.svg" class="testimony__arrow" id="before">
                <img src="../img/FlechaDerecha.svg" class="testimony__arrow" id="next" >
                
                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts">
                        <h2 class="subtitle"><span 
                        class="testimony__course">MISION</span></h2>
                        <p class="testimony__review">Tenemos como objetivo brindar el mejor servicio a nuestros clientes, garantizando su satistacción con nuestros resultados</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../img/Logo.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="2">
                    <div class="testimony__texts">
                        <h2 class="subtitle"><span 
                        class="testimony__course">VISION</span></h2>
                        <p class="testimony__review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga rem neque nulla ducimus quaerat recusandae facilis provident quis repellat dolore voluptate minus, vitae.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../img/Logo.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="3">
                    <div class="testimony__texts">
                        <h2 class="subtitle"><span 
                        class="testimony__course">VALORES</span></h2>
                        <p class="testimony__review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga rem neque nulla ducimus quaerat recusandae facilis provident quis repellat dolore voluptate minus, vitae, debitis quae hic inventore!.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../img/Logo.jpg" class="testimony__img">
                    </figure>
                </section>

            </div>
        </section>
    </main>

</body>
