@page
@model SistemaIntegralCYA.App.Pages.NuestraEmpresaModel
@{
}

<body>
    <main>
        <section class="testimony">
            <div class="testimony__container container">
                <img src="../img/FlechaIzquierda.svg" class="testimony__arrow" id="before">
                <img src="../img/FlechaDerecha.svg" class="testimony__arrow" id="next" >
                
                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts">
                        <h2 class="subtitle"><span 
                        class="testimony__course">MISION</span></h2>
                        <p class="testimony__review">Nunc feugiat molestie condimentum. Curabitur eget erat vel eros dapibus consequat. Maecenas sem arcu, sodales vel justo et, faucibus lacinia dolor. Donec molestie tempus pulvinar. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin at lorem suscipit, condimentum orci sed, tempus magna. Nullam vel sem urna. In in accumsan mauris. Phasellus accumsan venenatis tellus, et sollicitudin risus. Nunc eleifend, lorem non tristique pulvinar, ipsum ex imperdiet felis, at facilisis est risus eget sem. Praesent laoreet bibendum mauris, eget facilisis lectus hendrerit a. Pellentesque luctus libero non mauris finibus, quis pellentesque nisl cursus. Praesent ac consequat ante. In laoreet, elit id blandit mollis, risus magna tristique nulla, eu tristique nibh nunc sed lorem. In id porttitor magna, in dapibus arcu.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../img/Logo.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="2">
                    <div class="testimony__texts">
                        <h2 class="subtitle"><span 
                        class="testimony__course">VISION</span></h2>
                        <p class="testimony__review">Nulla quis magna ut nunc varius feugiat. Pellentesque ornare sapien nec enim porta, vitae bibendum dolor ultricies. Pellentesque vel tortor accumsan, pellentesque nisl sed, sollicitudin ante. Fusce dui leo, rutrum eu placerat vitae, eleifend id tortor. Sed nec varius dolor. Morbi feugiat sollicitudin quam id pulvinar. Morbi quis consequat dolor, et facilisis enim. Pellentesque ut velit blandit, vehicula mauris non, congue turpis. Etiam ultricies, nibh nec pharetra mollis, leo mi varius ligula, sed accumsan eros sem non velit. In vel fringilla nisi, vel ultricies ipsum. Duis condimentum feugiat nisi imperdiet convallis. Aenean in tempor purus, sit amet pretium quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed dictum metus, ac bibendum velit. Aenean quis vulputate lectus, et lobortis quam.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../img/Logo.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="3">
                    <div class="testimony__texts">
                        <h2 class="subtitle"><span 
                        class="testimony__course">VALORES</span></h2>
                        <p class="testimony__review">Donec ullamcorper tempus convallis. Nulla nunc nibh, laoreet et eleifend quis, elementum eu tortor. Pellentesque scelerisque commodo tortor id blandit. Nam imperdiet lorem a tellus pretium, nec facilisis magna viverra. Cras vel porta urna. Cras vulputate quam tellus, in finibus nunc feugiat sit amet. Donec nulla justo, volutpat sed dui vitae, rhoncus luctus erat. Vestibulum rutrum nisl orci, quis lacinia lectus consequat a. Donec aliquam ligula ante, vel commodo enim pulvinar eget. Curabitur elit ipsum, rhoncus vel lectus eget, pretium consectetur ligula. Quisque tempor felis id orci congue, quis sodales velit malesuada. Sed pulvinar quam vitae ullamcorper commodo. Nunc euismod lacus elit, sit amet dignissim nisi feugiat sed. Aenean vestibulum neque et porta gravida.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../img/Logo.jpg" class="testimony__img">
                    </figure>
                </section>

            </div>
        </section>
    </main>

</body>
