@page
@model SistemaIntegralCYA.App.Pages.RegistroUsuarioModel
@{
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>

<body class="signForm">    
    <div class="signupFrm">
        <form id="formRegistro" method="post"> <!-- VALIDAR COMO PONER UN ID Y METHOD EN LA ETIQUETA FORM JUNTOS -->
            <input type="hidden" asp-for="clientes.Id"/>
            <div class="formForm">    

                <h3 class="titleForm">Registrarse</h3>

                <div class="inputContainer">                    
                    <input id="identificacion" type="number" class="inputForm" asp-for="clientes.Id" placeholder="a">
                    <label class="labelForm" asp-for="clientes.Id">Identificacion</label>                    
                </div>

                <div class="inputContainer">                    
                    <input id="nombres" type="text" class="inputForm" asp-for="clientes.Nombre" placeholder="a">
                    <label class="labelForm" asp-for="clientes.Nombre">Nombre</label>                    
                </div>

                <div class="inputContainer">                    
                    <input id="apellidos" type="text" class="inputForm" asp-for="clientes.Apellido" placeholder="a">
                    <label class="labelForm" asp-for="clientes.Apellido">Apellido</label>                    
                </div>

                <div class="inputContainer">                    
                    <input id="NumeroTelefono" type="text" class="inputForm" asp-for="clientes.NumeroTelefono" placeholder="a">
                    <label class="labelForm" asp-for="clientes.NumeroTelefono">Numero Telefono</label>                    
                </div>

                <div class="inputContainer">                    
                    <input id="CorreoElectronico" type="email" class="inputForm" asp-for="clientes.CorreoElectronico" placeholder="a">
                    <label class="labelForm" asp-for="clientes.CorreoElectronico">Correo Electrónico</label>                    
                </div>

                <div class="inputContainer">                    
                    <input id="Contrasena" type="text" class="inputForm" asp-for="clientes.ClaveUsuario" placeholder="a">
                    <label class="labelForm" asp-for="clientes.ClaveUsuario">Contrasena</label>                    
                </div>  

                <div class="inputContainer">                    
                    <input id="ConfirmarContrasena" type="text" class="inputForm" asp-for="clientes.ClaveUsuario" placeholder="a">
                    <label class="labelForm" asp-for="clientes.ClaveUsuario">Confirmar Contraseña</label>                    
                </div>
            <div>
                <input type="submit" class="submitBtn" value="Registrarse">
                <div id="mensaje"></div>  
            </div>    
        </form> 
    </div>
</body>

<!--
<body  class="signForm">    
    <div class="signupFrm">
        <form class="formForm" id="formRegistro">

        <h1 class="titleForm">Registrarse</h1>  

        <div class="inputContainer">
            <input id="identificacion" type="number" class="inputForm" placeholder="a">
            <label class="labelForm">Identificacion</label>
        </div>
        
        <div class="inputContainer">
            <input id="nombres" type="text" class="inputForm" placeholder="a">
            <label class="labelForm">Nombres</label>
        </div>

        <div class="inputContainer">
            <input id="apellidos" type="text" class="inputForm" placeholder="a">
            <label class="labelForm">Apellidos</label>
        </div>

        <div class="inputContainer">
            <input id="CorreoElectronico" type="email" class="inputForm" placeholder="a">
            <label class="labelForm">Correo Electrónico</label>
        </div>
        <div class="inputContainer">
            <input id="Contrasena" type="password" class="inputForm" placeholder="a">
            <label class="labelForm">Contrasena</label>
        </div>

        <div class="inputContainer">
            <input id="ConfirmarContrasena" type="password" class="inputForm" placeholder="a">
            <label class="labelForm">Confirmar Contraseña</label>
        </div>
        
        <input type="submit" class="submitBtn" value="Registrarse">
        <div id="mensaje"></div>
        </form>
    </div>    
</body>
-->
