@page
@model SistemaIntegralCYA.App.Pages.ServiciosModel
@{
}

<form method="post"> 
    <input type="hidden" asp-for="historial.Id"/>   
    <label class="input-group-text" for="inputGroupSelect01">Seleccionar Servicio</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected >Elegir...</option>
            <option value="1">Mantenimiento de equpos</option>
            <option value="2">Reparación de equipos</option>
            <option value="3">Instalación de accesorios</option>
        </select>
        <label class="input-group-text" for="inputGroupSelect01" >Elija el Técnico</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>Técnicos...</option>
            <option value="1">Martin Elias Jimenez Posada</option>
            <option value="2">Luis Alberto Ortiz Castro</option>
            <option value="3">Pedro Daniel Quintero Hernandez</option>
        </select>
        <label class="input-group-text" for="inputGroupSelect01" asp-for="historial.Horario">Seleccionar Horario</label>
        <select class="form-select" id="inputGroupSelect01" asp-for="historial.Horario">
            <option selected>Horarios Disponible...</option>
            <option value="1">9 am</option>
            <option value="2">10 am</option>
            <option value="3">11 am</option>
            <option value="4">12 pm</option>
            <option value="5">1 pm</option>
            <option value="6">2 pm</option>
            <option value="7">3 pm</option>
            <option value="8">4 pm</option>
        </select>

        <div class="inputContainer">
            <input type="datetime-local" id="datetime" name="datetime" class="inputForm" placeholder="a" asp-for="historial.FechaServicio">
            <label class="labelForm" asp-for="historial.FechaServicio">Seleccione Fecha y Horario Servicios</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="inputForm" placeholder="a" asp-for="historial.DescripcionServicio">
            <label class="labelForm" asp-for="historial.DescripcionServicio">Describa brevemente su requerimiento</label>
        </div>

        <input type="submit" class="submitBtn" value="Registrarse">    
        <a class="submitBtn nav-link" href="../router/Aplicativo">Menú Principal<a>
        </div>
    </div>     
</form>

        <!--
        <div class="creditCardForm">
            <div class="heading">
                <h4>Realizar Pago</h4>
            </div>
            <div class="payment">
                <form>
                    <div class="form-group owner">
                        <label for="owner">Propietario</label>
                        <input type="text" class="form-control" id="owner">
                    </div>
                    <div class="form-group CVV">
                        <label for="cvv">CVV</label>
                        <input type="text" class="form-control" id="cvv">
                    </div>
                    <div class="form-group" id="card-number-field">
                        <label for="cardNumber">Número Tarjeta</label>
                        <input type="text" class="form-control" id="cardNumber">
                    </div>
                    <div class="form-group" id="expiration-date">
                        <label>Fecha Expiración</label>
                        <select>
                            <option value="01">January</option>
                            <option value="02">February </option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <select>
                            <option value="16"> 2022</option>
                            <option value="17"> 2023</option>
                            <option value="18"> 2024</option>
                            <option value="19"> 2025</option>
                            <option value="20"> 2026</option>
                            <option value="21"> 2027</option>
                        </select>
                    </div>
                    <div class="form-group" id="credit_cards">
                        <img src="../img/visa.jpg" id="visa">
                        <img src="../img/mastercard.jpg" id="mastercard">
                        <img src="../img/amex.jpg" id="amex">
                    </div>
                </form>
            </div>            
        <div>-->