@page
@model SistemaIntegralCYA.App.Frontend.Pages.router.UpdateTecnico
@{
}
<div>
    <h1>Modificar Información Técnico @Model.tecnicos.Id</h1>
</div>

<body class="signForm">    
    <div class="signupFrm">
        <form method="post">
            <input type="hidden" asp-for="tecnicos.Id"/>
            <div class="formForm" id="formRegistro">    

                <h3 class="titleForm">Modificar Datos</h3>

                <div class="inputContainer">                    
                    <input id="nombres" type="text" class="inputForm" asp-for="tecnicos.Nombre" placeholder="a">
                    <label class="labelForm" asp-for="tecnicos.Nombre">Nombre</label>                    
                </div>

                <div class="inputContainer">                    
                    <input id="apellidos" type="text" class="inputForm" asp-for="tecnicos.Apellido" placeholder="a">
                    <label class="labelForm" asp-for="tecnicos.Apellido">Apellido</label>                    
                </div>

                <div class="inputContainer">                    
                    <input id="NumeroTelefono" type="text" class="inputForm" asp-for="tecnicos.NumeroTelefono" placeholder="a">
                    <label class="labelForm" asp-for="tecnicos.NumeroTelefono">Numero Telefono</label>                    
                </div>

                <div class="inputContainer">                    
                    <input id="CorreoElectronico" type="email" class="inputForm" asp-for="tecnicos.CorreoElectronico" placeholder="a">
                    <label class="labelForm" asp-for="tecnicos.CorreoElectronico">Correo Electrónico</label>                    
                </div>

                <div class="inputContainer">                    
                    <input id="ConfirmarContrasena" type="text" class="inputForm" asp-for="tecnicos.TarjetaProfesional" placeholder="a">
                    <label class="labelForm" asp-for="tecnicos.TarjetaProfesional">Tarjeta Profesional</label>                    
                </div>  

                <div class="inputContainer">                    
                    <input id="Contrasena" type="text" class="inputForm" asp-for="tecnicos.ClaveUsuario" placeholder="a">
                    <label class="labelForm" asp-for="tecnicos.ClaveUsuario">Contrasena</label>                    
                </div>  

                <div class="inputContainer">                    
                    <input id="ConfirmarContrasena" type="text" class="inputForm" asp-for="tecnicos.ClaveUsuario" placeholder="a">
                    <label class="labelForm" asp-for="tecnicos.ClaveUsuario">Confirmar Contraseña</label>                    
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Modificar</button>
                </div>
                <div id="mensaje"></div> 
            </div>            
            <div>
                <a asp-page="../router/BDTecnicos" class="btn btn-primary">Base de Datos</a>
            </div>                 
        </form> 
    </div>
</body>
